.categoryMain {
    height: 430px;
}

.categoryOptions {
    height: 80px;
    padding-bottom: 30px;
    padding-left: 80px;
    text-transform: capitalize;
    color: white;
    max-width: 100%;
    overflow-x: scroll;
}

.categoryOptions::-webkit-scrollbar {
    display: none;
}

.categoryList {
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.categoryItem {
    font-size: 22px;
    color: white;
    cursor: pointer;
    font-weight: 300;
    font-family: Inter;
    line-height: 34px;
    text-shadow: 0px 2.13px 2.13px rgba(0, 0, 0, 0.25);
}

.categoryItem::after {
    content: '';
    display: block;
    height: 2px;
    border-radius: 2px;
    width: 0;
    background: white;
    transition: width 0.3s ease-in-out;
}

.categoryItem.active {
    font-weight: 500;
}

.categoryItem:hover::after,
.categoryItem.active::after {
    width: 100%;
}

.categoryCards  {
    height: 290px;
    width: 100%;
    color: white;
    /* display: flex; */
    /* flex-direction: row; */
    /* gap: 20px; */
}

.blogMainCard ,
.blogMainCard a {
    width: 230px !important;
    height: 290px !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    max-height: 100%;
    padding: 15px 12px;
    display: flex !important;
    margin-right: 20px;
    flex-direction: column;
    justify-content: flex-end;
    border: 1p;
}

.blogMainCard:first-child {
    margin-left: 80px;
}

.categoryTag {
    width: auto;
    height: 20px;
    margin-block: 0px 5px;
    background-color: #FFFFFF61;
    width: fit-content;
    padding-inline: 5px;
    border-radius: 5px;

}

.categoryTag span {
    font-size: 12px;
    color: white;
    line-height: 16px;
    font-family: Raleway;
}

.blogTitle {
    width: 100%;
    height: 60px;
}

.blogTitle h3 {
    font-size: 20px;
    color: white;
    line-height: 20px;
    font-family: Raleway;
    font-weight: 500;
    margin-block: 0px;
    line-height: 28px;
    padding: 0;
    font-weight: 600;
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    text-wrap: pretty;
}

.blogDetails {
    width: 100%;
    height: 40px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.blogUserImage {
    width: auto;
    height: 30px;
    max-height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    background-color: rgb(179, 179, 179);
}

.blogUserImage img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.blogUserNameDate {
    display: flex;
    flex-direction: column;
}

.blogUserNameDate span:first-child {
    font-size: 12px;
    color: white;
    line-height: 16px;
    font-family: Raleway;
    font-weight: 500;
}

.blogUserNameDate span:last-child {
    font-size: 10px;
    color: white;
    line-height: 14px;
    font-family: Raleway;
    font-weight: 400;
}

.categoryLink {
    height: 60px;
    padding: 10px 0;
    text-align: center;
}

.categoryLink a {
    display: inline-block;
    color: black;
    line-height: 20px;
    font-size: 18px;
    width: 150px;
    cursor: pointer;
    padding: 18px 2px;
    font-weight: 600;
    font-family: Raleway;
}


@media screen and (max-width : 1024px) {
    .categoryOptions {
        padding-left: 50px;
        height: 60px;

    }

    .categoryList {
        gap: 30px;
    }

    .categoryItem {
        font-size: 18px;
        width: max-content;
        font-weight: 400;
        line-height: 26px;
    }

    .categoryItem.active {
        font-weight: 600;
    }

    .blogMainCard:first-child {
        margin-left: 50px;
    }

}

@media screen and (max-width : 540px) {
    .categoryOptions {
        padding-left: 20px;
        height: 60px;

    }

    .categoryList {
        gap: 20px;
    }


    .blogMainCard:first-child {
        margin-left: 20px;
    }

}