.blogMainImage {
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: center;
    background-color: lightgray;
    position: relative;
}

.blogMainImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blogContent {
    width: calc(100% - 160px);
    margin: -100px 80px 0;
    padding: 30px;
    background-color: white;
    z-index: 10;
    position: relative;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.blogCategory {
    color: #115FD6;
    font-family: "Segoe UI";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.72px;
    text-transform: uppercase;
}

.blogContent h1 {
    color: #172B4D;
    font-family: Inter;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    margin-top: 10px;
}

.blogUserDetails {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
}

.blogUserDetails img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
}

.blogUserDetails span {
    color: #172B4D;
    font-family: "Segoe UI";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* padding: 0 5px; */
}

.blogUserDetails span:not(:last-child)::after {
    content: " |";
    color: #172B4D;
    font-family: "Segoe UI";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding: 0 5px;
}

.userInfo {
    display: flex;
    align-items: center;
    width: max-content;
    flex-wrap: wrap;
}

.userDivActive {
    display: none;
}

.phoneScreenBackArrow{
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    height: 25px;
    width: 25px;   
}
.phoneScreenBackArrow img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.blogContentDetails img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;

}

.blogHashtags {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.blogHashtags span {
    display: inline-block;
    border-radius: 80px;
    background: #D9D9D9;
    height: 35px;
    width: fit-content;
    padding: 0 20px;
    line-height: 35px;
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
/* 
.blogHashtags span::before {
    content: "#";
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    padding-right: 5px;

} */

.blogContentDetails {
    color: #292929;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 182%;
    margin-top: 20px;
}

.commentSection {
    position: relative;
    background: #FFF;
    height: 50px;
    width: 100%;
    max-width: 700px;
    margin: 40px auto;
    padding: 10px 15px;
    box-shadow: 0px 0px 10px 0px #ABABAB80;
}

.commentSection input {
    border-radius: 8px;
    background: #F6F6F6;
    height: 100%;
    width: 100%;
    padding: 0 40px 0 15px;
    border: none;
    outline: none;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

}

.commentSection button {
    position: absolute;
    right: 20px;
    top: 10px;
    background: transparent;
    height: 30px;
    width: 30px;
    padding: 5px;
}

.commentSection button img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}



/* related blog  */

.relatedBlogs h3 {
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 180%;
    margin-block: 40px 20px;
}

.relatedBlogContainer {
    height: 290px;
    width: 100%;
    color: white;
}

.relatedBlogCard {
    width: 230px !important;
    height: 290px !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    max-height: 100%;
    padding: 15px 12px;
    display: flex !important;
    margin-right: 20px;
    flex-direction: column;
    justify-content: flex-end;
    border: 1p;
}


.relatedBlogCard .categoryTag {
    width: auto;
    height: 20px;
    margin-block: 0px 5px;
    background-color: #FFFFFF61;
    width: fit-content;
    padding-inline: 5px;
    border-radius: 5px;

}

.relatedBlogCard .categoryTag span {
    font-size: 12px;
    color: white;
    line-height: 16px;
    font-family: Raleway;
}

.blogTitle {
    width: 100%;
    height: 60px;
}

.blogTitle h3 {
    font-size: 20px;
    color: white;
    line-height: 20px;
    font-family: Raleway;
    font-weight: 500;
    margin-block: 0px;
    line-height: 28px;
    padding: 0;
    font-weight: 600;
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    text-wrap: pretty;
}

.blogDetails {
    width: 100%;
    height: 40px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.blogUserImage {
    width: auto;
    height: 30px;
    max-height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    background-color: rgb(179, 179, 179);
}

.blogUserImage img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.blogUserNameDate {
    display: flex;
    flex-direction: column;
}

.blogUserNameDate span:first-child {
    font-size: 12px;
    color: white;
    line-height: 16px;
    font-family: Raleway;
    font-weight: 500;
}

.blogUserNameDate span:last-child {
    font-size: 10px;
    color: white;
    line-height: 14px;
    font-family: Raleway;
    font-weight: 400;
}


@media screen and (max-width : 1024px) {
    .categoryOptions {
        padding-left: 50px;
        height: 60px;

    }

    .categoryList {
        gap: 30px;
    }

    .categoryItem {
        font-size: 18px;
        width: max-content;
        font-weight: 400;
        line-height: 26px;
    }

    .categoryItem.active {
        font-weight: 600;
    }

    .blogMainCard:first-child {
        margin-left: 50px;
    }

}

@media screen and (max-width : 540px) {
    .categoryOptions {
        padding-left: 20px;
        height: 60px;

    }

    .categoryList {
        gap: 20px;
    }


    .blogMainCard:first-child {
        margin-left: 20px;
    }

}


@media screen and (max-width:1024px) {
    .blogMainImage {
        height: 350px;
    }

    .blogContent {
        width: calc(100% - 80px);
        margin: -80px 40px 0;
    }
}

@media screen and (max-width:768px) {
    .blogMainImage {
        height: 300px;
    }

    .blogContent {
        width: calc(100% - 60px);
        margin: -80px 30px 0;
        padding: 25px;
    }

    .blogContent h1 {
        font-size: 32px;
        line-height: 42px;
    }

    .blogUserDetails span {
        font-size: 13px;
        line-height: 20px;
    }

    .blogHashtags span {
        font-size: 15px;
        line-height: 25px;
    }

    .blogContentDetails {
        font-size: 15px;
        line-height: 25px;
    }

    .userInfo .blogLength {
        display: none;
    }

    .blogUserDetails span:nth-child(2):after {
        content: '';
    }
}

@media screen and (max-width : 540px) {
    .blogMainImage {
        border-radius: 0px 0px 30px 30px;
        background: lightgray 50% / cover no-repeat;
        border: none;
    }

    .blogMainImage img {
        border-radius: 0px 0px 25px 25px;
        filter: brightness(0.8);
    }

    .blogContent {
        width: 100%;
        margin: 0px 0 0;
        padding: 20px;
        box-shadow: none;
    }

    .userDivActive {
        display: block;
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: white;

    }

    .userDivActive span {
        display: inline-block;
        border-radius: 4px;
        background: rgba(255, 255, 255, 0.38);
        color: #FFF;
        font-family: Raleway;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 5px 10px;
        margin-bottom: 5px;
    }

    .userDivActive h1 {
        color: #FFF;
        font-family: Raleway;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .userDetailsBigScreen {
        display: none;
    }

    .phoneScreenBackArrow {
        display: block;
    }

    .userInfo {
        flex-direction: column;
        align-items: flex-start;

    }

    .blogUserDetails span {
        line-height: 18px;
    }

    .blogUserDetails span::after {
        content: '';
        display: none;
    }

    .blogHashtags {
        gap: 10px;
    }

    .blogHashtags span {
        height: 25px;
        padding: 0 15px;
        line-height: 25px;
        font-size: 12px;
    }

    .blogHashtags span::before {
        font-size: 12px;
        line-height: 25px;
    }

    .commentSection {
        margin: 40px -20px;
        width: calc(100% + 40px);
    }
}